body{
  background-color: goldenrod;
}

.navbar {
  margin: auto;
  border: 2px double white;
  height: 70px;
  display: flex;
  align-items: center;
}

.home-container {
  border: 1px solid white;
  margin-left: 2px;
  position: absolute;
  width: 60px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
}

.contact-container {
  border: 1px solid white;
  margin: auto;
  position: absolute;
  left: 50%;
  width: 60px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}

a:link {
  color: white;
}

a:hover {
  color:aqua;
}

a:active {
  color: yellow;
}